<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.todoList.mapper.UserMapper">

	<!-- 회원가입 입력 정보 insert -->
	<insert id="joinMember">
		insert into tbl_user (user_id, user_pw, user_name, user_email)values (#{user_id}, #{user_pw}, #{user_name}, #{user_email})
	</insert>
	
	<!-- login 정보 가져오기 -->
	<select id="userLogin" resultType="UserVO">
		select * from tbl_user where user_id = #{user_id} and user_pw = #{user_pw}
	</select>
	
	<!-- logdate 최근 login 날짜로 수정 -->
	<update id="userRogDate">
		update tbl_user set user_logdate = now() where user_id = #{user_id}
	</update>
	
	
</mapper>